<?xml version='1.1' encoding='utf-8'?>
<widget id="org.cool" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Is It Cool?</name>
    <description>
        A game to teach kids life lessons.
    </description>
    <author email="mfm.081@gmail.com" href="http://isitcoolapp.com">
        Michael Mason
    </author>
    <content src="index.html"/>
    <access origin="*"/>
    <preference name="orientation" value="landscape" />

</widget>
