<div class="board"> <!--ng-if="cool.di.state.gameStarted"-->
    <div>
        <!--<span ng-repeat="(key,space) in cool.di.models.spaces" style="padding:1em; background:#000; margin:2px; color:mintcream; background:{{cool.di.models.sections.indexOf()}};float:left">
            {{key}}
            <div ng-repeat="(playerKey, player) in cool.di.state.players" ng-if="player.currentPosition == key">{{player.playerName}}</div>
        </span>-->
        <div ng-repeat="(sectionKey, section) in cool.di.models.sections" ng-style="{position:'absolute',  width:'100%', height:'90%'}">
            <span
                    id="space-{{space}}"
                    ng-repeat="space in section"
                    ng-init="bgColor = cool.di.models.spaces[space].color === 'trap' ? '#900020' : cool.di.models.spaces[space].color === 'cool?' ? 'rgba(230,232,234, 1)': cool.di.models.spaces[space].color === 'pass' ? 'green' : cool.di.models.spaces[space].color"
                    ng-style="{padding:'.1em', color:'mintcream', background:bgColor, border:'1px solid rgba(0,0,0,.2)', position:'absolute', top: cool.di.models.spaces[space].origin.top, left: cool.di.models.spaces[space].origin.left, transform: cool.di.api.tForm(cool.di.models.spaces[space].tForm), height:'2em', width:'2em'}">

                <b ng-style="{color: cool.di.models.spaces[space].color === 'cool?' ? 'black' : 'initial'}">
                    {{cool.di.models.spaces[space].color === 'cool?' ? 'Cool?' : cool.di.models.spaces[space].color === 'trap' ? 'Trap' : ''}}
                </b>

                <div ng-repeat="(playerKey, player) in cool.di.state.players" ng-if="player.currentPosition == space"
                     ng-style="{background:cool.di.models.colors[player.color], padding:'.1em', borderRadius:'1em', boxShadow: '1px 1px 1px black', zIndex:10000}">
                    {{player.playerName}}
                </div>
            </span>
        </div>
    </div>
    <ui-view></ui-view>
</div>