<div
        ng-if="cool.di.state.trip"
        class="fpv"
        ng-style="{
        position: 'fixed',
        zIndex:99999,
        top:0,
        bottom:0,
        left:0,
        right:0,
        background:'rgba(255,255,255,.9)'}">
    This is the fpv directive.
    <button ng-click="animate = !animate">Click</button>
    <button ng-click="cool.di.api.tweenMax('#sunglasses-fpv', 2, {scale: 0, x:'50%',textAlign:'center'})">Reverse</button>
    <button ng-click="cool.di.api.tweenMax('#sunglasses-fpv', 3, {scale:1, y:'0%', x:'0%',textAlign:'center'})">Start</button>
    <button ng-click="cool.di.api.tweenMax('#sunglasses-fpv', 5, {scale:2, y:'100%', x:'-50%', textAlign:'center'})">Forward</button>
    <button ng-click="cool.di.api.fpvQueue(cool.di.state.trip)">Trip</button>
    <svg ng-style="{width:'100vw', height:'100vh'}">
        <g>
            <polygon
                    id="sunglasses-fpv"
                    ng-hide="animate"
                    ng-animate-ref="animate-ref"
                    ng-attr-points="{{cool.di.api.toNumber(.38 * $root.screen.width)}},{{cool.di.api.toNumber(.62 * ($root.screen.width >= $root.screen.height ? $root.screen.height:  $root.screen.height /2))}} {{cool.di.api.toNumber(.62 * $root.screen.width)}}, {{cool.di.api.toNumber(.62 * ($root.screen.width >= $root.screen.height ? $root.screen.height:  $root.screen.height /2))}} {{$root.screen.width}},{{$root.screen.width >= $root.screen.height ? $root.screen.height : $root.screen.height / 2}} 0,{{$root.screen.width >= $root.screen.height ? $root.screen.height : $root.screen.height / 2}} "
                    fill="rgba(0,150,0,.6)"
                    stroke="white"
                    stroke-width="7"
            >
            </polygon>
            <polygon
                    ng-init="points = cool.di.api.spaceFpv(trip.poly)"
                    ng-repeat="trip in cool.di.state.trip | reverse"
                    ng-show="cool.di.state.show.fpv === $index"
                    ng-animate-ref="animate-ref"
                    id="sunglasses-fpv{{$index}}"
                    ng-attr-points="{{points}}"
                    fill="{{trip.color}}"
                    stroke="rgba(0,0,0,.4)"
                    stroke-width="7"
            ></polygon>
            <polygon
                    ng-attr-points="{{cool.di.api.sunglassesFpv(
                            $root.screen.width, ($root.screen.width >= $root.screen.height ? $root.screen.height : $root.screen.height / 2))}}"
                    fill="rgba(0,0,0,.6)"
                    stroke="orange"
                    stroke-width="7"
            >
            </polygon>
        </g>
    </svg>
</div>

