<messages style="width:100%"></messages>
<h4>
    <a ui-sref="cool">Is it Cool?</a>
</h4>
<div ng-style="{display:'flex', width:'100vw'}">
    <div style="flex: 1 1 100%" ng-if="cool.di.state.players.length > 0">

        <div ng-style="{display:'flex', width:'100%'}">
            <span ng-repeat="player in cool.di.state.players" ng-style="{padding:'1em', margin:'.1em', background: cool.di.models.colors[player.color], border: player.playerName === cool.di.state.turn.playerName ? '2px groove black' : 'none', width:'100%', color: player.playerName === cool.di.state.turn.playerName ? 'white' : 'none', textShadow: player.playerName === cool.di.state.turn.playerName ? '1px 1px 2px black' : 'none' }">
                {{player.playerName}}
            </span>
        </div>
        <div ng-style="{display:'flex'}">
            <button ng-if="cool.di.state.dice.length === 2"
                    ng-style="{width:'100%'}"
                    ng-click="cool.di.api.takeTurn(cool.di.state.players.indexOf(cool.di.state.turn), cool.di.state.turn, $parent.$parent.$parent.$root.die)">
                <h2>
                    {{cool.di.state.turn.playerName}} Rolls!
                </h2>
            </button>
            <div ng-if="cool.di.state.dice.length === 2" style="flex: 0 1 25%; align-self:center">
                <span
                        ng-click="$parent.secretDice ? $parent.secretDice = $parent.secretDice + 1 : $parent.secretDice = 1"
                        ng-repeat="die in cool.di.state.dice track by $index" ng-style="{border:'2px solid #000', padding:'1em', width:'100%'}">

                    <span ng-style="{width:'40px', height:'40px'}">
                        <label ng-show="$parent.secretDice > 3" ng-style="{width:'40px', height:'40px', border:'none', margin:0, padding:0}">
                            <input ng-show="$parent.secretDice > 3" ng-style="{width:'40px', height:'40px', border:'none', margin:0, padding:0}" type="number" ng-model="$root.die[$index]" ng-change="$root.die.total = $root.die[0] + $root.die[1]">
                        </label>
                        <span ng-hide="$parent.secretDice > 3">{{die}}</span>
                    </span>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="start" ng-style="{display:'flex'}">
    <ui-view></ui-view>
</div>
<div>
    <div ng-if="!cool.di.state.gameStarted"><h1>Start Game</h1>
        <button ng-click="cool.di.api.startGame(1)">1 Player</button>
        <button ng-click="cool.di.api.startGame(2)">2 Players</button>
        <button ng-click="cool.di.api.startGame(3)">3 Players</button>
        <button ng-click="cool.di.api.startGame(4)">4 Players</button>
    </div>
    <card></card>
    <button ng-click="$root.debug =! $root.debug">Debug?</button>
    <debug>
        <h4>Methods</h4>
        <button ng-click="cool.di.api.rollDice()">Roll Dice</button>
        <button ng-click="cool.di.api.message({text:'yo', header:'I\'m new in town :)'})">Message</button>
        <button ng-click="cool.di.api.routePlayer('board', 'space', 'hello')">Route Player</button>
        <button ng-click="cool.di.api.startGame(2)"> Start Game</button>
        <h4>Direct Injections</h4>
        <p ng-repeat="(key, di) in cool.di">
            <b>{{key}}: </b>{{di}}
        </p></debug>
</div>