<!--<h4>
    <a ui-sref="cool">Is it Cool?</a>
</h4>-->
<debug ng-style="{position:'absolute', background: 'rgba(255,255,255,.8)', top:0, left:0}">
    <h4>View Size</h4>
    {{cool.di.window.innerWidth}}px * {{cool.di.window.innerHeight}}px
    <h4>Methods</h4>
    <button ng-click="cool.di.api.rollDice()">Roll Dice</button>
    <button ng-click="cool.di.api.message({text:'yo', header:'I\'m new in town :)'})">Message</button>
    <button ng-click="cool.di.api.routePlayer('board', 'space', 'hello')">Route Player</button>
    <button ng-click="cool.di.api.startGame(2)"> Start Game</button>
    <h4>Direct Injections</h4>
    <p ng-repeat="(key, di) in cool.di">
        <b>{{key}}: </b>{{di}}
    </p></debug>
<div class="start" ng-style="{display:'flex', maxHeight:'90vh'}">
    <ui-view></ui-view>
</div>
<div ng-style="{position:'fixed', top:'55vh', bottom:'95vh'}">
    <div ng-style="{display:'flex', width:'100vw'}">
        <div style="flex: 1 1 100%" ng-if="cool.di.state.players.length > 0 ">
            <messages></messages>
            <card></card>
            <div ng-style="{display:'flex', width:'90%'}">
                <span ng-repeat="player in cool.di.state.players"
                      ng-style="{
                      padding:'1em',
                      margin:'.1em',
                      background: cool.di.models.colors[player.color],
                      border: player.playerName === cool.di.state.turn.playerName ? '2px groove black' : 'none',
                      width:'100%',
                      color: player.playerName === cool.di.state.turn.playerName ? 'white' : 'none',
                      textShadow: player.playerName === cool.di.state.turn.playerName ? '1px 1px 2px black' : 'none',
                      display:'flex', justifyContent:'space-between'}">
                    <span ng-click="secretDice = !secretDice">
                        {{player.playerName}}
                    </span>
                    <div ng-if="cool.di.state.gameStarted" ng-style="{display:'flex'}">
                        <span
                                ng-hide="$parent.secretDice"
                                ng-if="player === cool.di.state.turn"
                                ng-click="cool.di.api.takeTurn(cool.di.state.players.indexOf(cool.di.state.turn), cool.di.state.turn)"
                                ng-repeat="die in cool.di.state.dice track by $index"
                                ng-style="{border:'2px solid #000', padding:'1em', backgroundColor:'white', background:'url({{cool.di.models.dice[die]}})', backgroundSize:'cover'}">
                        </span>
                        <span>
                                <label ng-show="secretDice && player === cool.di.state.turn"
                                       ng-style="{width:'40px', height:'40px', border:'none', margin:0, padding:0}">
                                    <b ng-click="cool.di.api.takeTurn(cool.di.state.players.indexOf(cool.di.state.turn), cool.di.state.turn, $parent.$parent.$parent.$root.die);">Cheat!</b>
                                    <input
                                           ng-style="{width:'40px', height:'40px', border:'none', margin:0, padding:0}"
                                           type="number" ng-model="$root.die[0]"
                                           ng-change="$root.die.total = $root.die[0] + $root.die[1]" >
                                    <input
                                           ng-style="{width:'40px', height:'40px', border:'none', margin:0, padding:0}"
                                           type="number" ng-model="$root.die[1]"
                                           ng-change="$root.die.total = $root.die[0] + $root.die[1]" >
                                </label>
                            </span>
                    </div>
                </span>
            </div>
        </div>
    </div>
    <div>
        <div ng-if="!cool.di.state.gameStarted"><h1>Start Game</h1>
            <button ng-click="cool.di.api.startGame(1)">1 Player</button>
            <button ng-click="cool.di.api.startGame(2)">2 Players</button>
            <button ng-click="cool.di.api.startGame(3)">3 Players</button>
            <button ng-click="cool.di.api.startGame(4)">4 Players</button>
        </div>
<!--
        <button ng-click="$root.debug =! $root.debug">Debug?</button>
-->
    </div>
</div>
